
* {
  margin: 0;
}

.home-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #CDCDCD;
}

.home-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 14vh;
  width: 100%;
  /*background-color: #01ABAA;*/
  background-color: #414141;

  /*margin-top: 2%;*/
}

.home-header h1 {
  margin-left: 2%;
  color: #C06014;
  margin-top: 2%;
  font-family: 'Lato', sans-serif;
}

h1, p {
/*  margin-left: 2%;
*/ color: #C06014;
  /*margin-top: 2%;*/
  font-family: 'Noto Sans', sans-serif;
}


.content-box {
  display: flex;
  flex-direction: row;
  background-color: #EDDBCD;
  height: 50vh;
  width: 50%;
}

.log-user {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #C06014;
  justify-content: space-around;
}

.email-box {

}

.password-box {

}

input {
  background-color: #CDCDCD;

}

a .log-button, .login-button {
  background-color: #CDCDCD;
  height: 10px;
}

.create-user {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-left: 5px solid #414141;
  color: #C06014;
  justify-content: space-around;
}





