* {
  margin: 0;
}

.nav {
  background-color: #CDCDCD;
  height: 20vh;
  width: 100%;
  margin-top: 6%;
}

.nav-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 40%;
  position: relative;
  font-size: 18px;
  background-color: #EDDBCD;
  font-family: 'Lato', sans-serif;
  padding: 10px;
}
