.home-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 14vh;
  width: 100%;
  /*background-color: #01ABAA;*/
  background-color: black;
  /*margin-top: 2%;*/
}

.home-header h1, p {
  margin-left: 2%;
  color: white;
}

.home-header h1, p {
  margin-left: 2%;
  color: #C06014;
  margin-top: 2%;
}
