.desc {
  background: red;
  border: 5px solid black;
  color: white;
  font-size: 56px;
  font-weight: 800;
}

.fair-list {
  display: flex;
  background-color: #EDDBCD;
  position: relative;
  width: 45%;
  float: right;
  /*top: 300px;*/
  /*padding-top: 300px;*/
}

img {
  width: 20px;
  height: 20px;
}
