.create-post {
  margin-left: 10%;
  background-color: #CDCDCD;


}

.create-post p {
  display: flex;
  flex-direction: row;
  color: black;
}

.uploaded-image {
  max-height: 20%;
  max-width: 20%;
}

