.select-fairs {
  background-color: #C06014;
  height: 30px;
  padding: 12px;
}
.submit-button {
  height: 30px;
  background-color: #C06014;
  width: 85px;
  border-radius: 10px;
}

.create-post {
  margin-left: 40%;
  background-color: #CDCDCD;
  display: flex;
  /*flex-flow: wrap column;*/
  height: 93vh;
  width: 45%;
  flex-direction: column;
  margin-top: 80px;
}

.create-post h1 {
  display: flex;
  /*flex-direction: column;*/
  /*margin-left: 2%;*/
  color: #C06014;
  margin-top: 2%;
  justify-content: space-around;
  padding: 10px;
  font-size: 32px;
  font-weight: bold;
}


.create-post p {
  display: flex;
  flex-direction: column;
  /*margin-left: 2%;*/
  color: #C06014;
  margin-top: 2%;
  justify-content: space-around;
  padding: 10px;
  font-size: 18px;
  /*align-items: center;*/
}

textarea {
  height: 175px;
  width: 275px;
  background-color: #CDCDCD;
  border: 2px solid #414141;
  padding-bottom: 10px;

}

.drop-zone {
  height: 83px;
  width: 100px;
  border: 3px dotted #414141;
  padding-bottom: 10px;
  margin-bottom: 10px
}


.uploaded-image {
  max-height: 50%;
  max-width: 60%;
}


